legend{
	color: white;
}

.form{
  position: relative;
  z-index: 1;
  background: #0E113D;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  color: white;
}


input[type=submit],[type=reset]{
	background-color: #0E113D;
	color: white; 
}

input[type=text],[type=password],[type=email]{
	color: black;
}

textarea, option{
  color: black;
}

#content1{
  text-align: center; 
  padding-top: 5%;
}